<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Employee</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Custom style css -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
  <!-- Header section -->
  <div class="head_top">
    <div class="header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo section -->
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 logo_section">
            <div class="logo">
              <a href="home"><img src="/images/icon.png" alt="Logo" class="img-fluid" /></a>
            </div>
          </div>
          <!-- Navigation section -->
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
            <nav class="navigation navbar navbar-expand-md navbar-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}">List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/add}">Add</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/search}">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/update}">Update</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Delete Employee Form -->
<div class="container my-5">
  <h3>Delete Employee</h3>
  <div class="card">
    <div class="card-body">
      <form th:action="@{/employee/delete}" th:object="${employee}" method="post">
        <div class="row">
          <!-- Employee ID Field -->
          <div class="form-group col-md-6">
            <label for="id" class="col-form-label">Employee ID</label>
            <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="Enter Employee ID">
          </div>
          <!-- Submit Button -->
          <div class="form-group col-md-12">
            <input type="submit" class="btn btn-danger mt-3" value="Delete Employee">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<style>
  .nav-link {
    color: #000000 !important;
  }
</style>
