<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EMS</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="head_top">
            <div class="header">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <!-- Logo section -->
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 logo_section">
                        <div class="logo">
                           <a href="home"><img src="/images/icon.png" alt="Logo" class="img-fluid" /></a>
                        </div>
                     </div>
                     <!-- Navigation section -->
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                        <nav class="navigation navbar navbar-expand-md navbar-dark">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav ml-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" th:href="@{/employee/login}">Logout</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="text-bg">
                           <h1>Employees Management System</h1>
                           <p>Our Employee Management System helps organizations efficiently manage employee data, track performance, and streamline HR processes. From onboarding to payroll, this system simplifies the entire employee lifecycle, ensuring compliance and improving productivity. Empower your team with tools that make managing your workforce easier and more effective.</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="text-img">
                           <figure><img src="/images/box_img.png" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- business -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>List Employees</span>
                     <h2>Where you can show all Employees </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">

                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a  class="read_more" th:href="@{/employee/list}"> List Employee </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end business -->
      <!-- business -->
      <!--
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>List Task</span>
                     <h2>Where you can show all the tasks and the employee who performed them
                     </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">
                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a  class="read_more" th:href="@{/task/list}"> List Tasks </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      -->

      <!-- end business -->
      <!-- business -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>Add Employee</span>
                     <h2>Where you can Add new Employee </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">

                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a class="read_more"  th:href="@{/employee/add}"> Add </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end business -->
      <!-- business -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>Search Employee</span>
                     <h2>Where you can search about employee </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">

                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a  class="read_more" th:href="@{/employee/search}"> Search </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end business -->
      <!-- Projects -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>Update Employee</span>
                     <h2>Where you can Update employee </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">
                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a  class="read_more" th:href="@{/employee/update}"> Update </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end projects -->
      <!-- business -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>Patch Employee</span>
                     <h2>Where you can patch same Wrong data for Employee </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">

                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a class="read_more"  th:href="@{/employee/patch}"> Patch </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end business -->
      <!-- Projects -->
      <div class="projects">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <span>Delete Employee</span>
                     <h2>Where you can Delete employee </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 offset-md-3">

                     </div>
                     <div class="col-md-12">
                        <div class="projects_box ">
                           <a  class="read_more" th:href="@{/employee/delete}"> Delete </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- end projects -->
      <!-- Testimonial -->
      <div class="section">
         <div class="container">
            <div id="" class="Testimonial">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>Testimonial</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3">
                     <div class="Testimonial_box">
                        <i><img src="/images/cropped_image.png" alt="#"/></i>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="Testimonial_box">
                        <h4>Dr.Ismail El-Dahshan</h4>
                        <h3>CEO eXact digital solutions</h3>
                        <p>
                           Our team has greatly benefited from using the Employee Management System. It has streamlined our HR processes, making it incredibly easy to manage employee data, track performance, and handle payroll. The user-friendly interface ensures that our employees can access what they need without any technical hurdles, while the powerful backend helps us stay on top of compliance and reporting requirements. What used to take hours of manual work is now completed in minutes!
                        </p>
                        <h3></h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!--  footer -->
      <footer>
                  <div class="col-md-12">
                     <ul class="social_icon">
                        <li><a href="https://github.com/Ssaif-9"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="https://x.com/SsEeIiFf99"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/seif-eldin-sultan-90b740233/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Enjoy trip</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/jquery-3.0.0.min.js"></script>
      <script src="j/s/plugin.js"></script>
      <!-- sidebar -->
      <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/js/custom.js"></script>
      <script src="/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

<style>
   .nav-link {
      color: #000000 !important;
   }
</style>